* {
  /* border: 0; */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
}

a {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-weight: 300;
}

body {
  margin-top: 48px;
  margin-bottom: 0px;
}

html {
  background-color: #ffffff;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.lite-shadow {
  -webkit-box-shadow: 0 0 10px 4px #ebebeb;
          box-shadow: 0 0 10px 4px #ebebeb;
}

.footer {
  padding-top: 150px;
}

.wrapper-menu {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

.wrapper-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-block {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  z-index: 50;
}

.menu-block-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.menu-block-first a:hover {
  color: red;
}

a.menu-proect:hover {
  color: red;
}

.menu-start {
  margin-left: 10px;
  width: 100px;
  font-weight: 500;
}

.menu-start-block2 {
  font-size: 15px;
  font-weight: 200;
}

.menu-proect {
  margin-left: 5px;
  width: 80px;
  font-weight: 700;
}

.footer-block {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #2b2b2b;
}

.footer-block-inside1, .footer-block-inside2 {
  margin: 5px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 350;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.footer-block-inside2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.footer-block-inside1-a {
  color: forestgreen;
  cursor: pointer;
}

.footer-block-inside1-a:hover {
  font-weight: 600;
}

.icon-menu {
  padding: 20px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

a.icon-menu {
  cursor: pointer;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.icon-user {
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: block;
}

.user-menu-reg, .user-menu-auth {
  margin-left: 10px;
}

.user-menu-reg, .user-menu-auth {
  font-weight: 600;
}

.user-menu-reg:hover, .user-menu-auth:hover, .proect:hover {
  color: red;
  cursor: pointer;
}

.hiden-menu {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.centr-fox {
  position: fixed;
  top: 4px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fox {
  justify-items: flex-start;
  position: relative;
  left: 0;
  right: 0;
  width: 50px;
  height: 40px;
  margin-left: 14px;
}

.fox-words-down {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #f0f0f0 2px solid;
  border-radius: 5px;
  background: white;
  display: none;
  opacity: 0.95;
  padding: 5px;
  font-size: 18px;
}

.fox-words-text {
  white-space: nowrap;
  color: black;
  text-align: center;
}

.fox-words-down::before {
  content: "";
  position: absolute;
  border-top: #f0f0f0 2px solid;
  border-left: #f0f0f0 2px solid;
  height: 10px;
  width: 10px;
  top: -4px;
  left: 50%;
  background: white;
  -webkit-transform: rotate(45deg) translate(-50%);
          transform: rotate(45deg) translate(-50%);
}

.menu-wraper {
  position: fixed;
  width: 300px;
  top: 48;
  right: -303px;
  z-index: 49;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.menu-wraper-promo {
  position: fixed;
  width: 300px;
  top: 48;
  right: -303px;
  z-index: 48;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.hiden-menu-user {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  opacity: 0.95;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: blue  2px solid;
  -webkit-box-shadow: 0 0 2px #bbbbbb;
          box-shadow: 0 0 2px #bbbbbb;
}

.hiden-menu-user > div, .hiden-menu-user > a {
  width: 100%;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: start;
  font-size: 16px;
  border-bottom: #e6e6e6 3px solid;
  cursor: pointer;
}

.hiden-menu-user > div:hover:not(#inwork), .hiden-menu-user > a:hover {
  color: red;
}

#inwork {
  cursor: default;
  color: #c9c9c9;
}

.hiden-menu-user-promo {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  opacity: 0.95;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: blue  2px solid;
  -webkit-box-shadow: 0 0 5px #bbbbbb;
          box-shadow: 0 0 5px #bbbbbb;
  z-index: 99;
}

#hiden-menu-user-promo-header {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

#menu-mail {
  width: 260px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  margin: 10px;
  cursor: text;
}

.hiden-menu-input-wraper {
  width: 265px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hiden-menu-user-promo-block {
  width: 300px;
}

.hiden-menu-user-promo-bl {
  width: 300px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  color: blue;
  font-weight: 500;
}

#menu-mail:hover {
  border-color: blue;
}

#menu-mail:focus {
  border-color: blue;
}

#promo-button-get {
  display: none;
  width: 150px;
  padding: 13px;
  text-align: center;
  border: 1px solid yellow;
  -webkit-box-shadow: 0 0 4px #bbbbbb;
          box-shadow: 0 0 4px #bbbbbb;
  border-radius: 7px;
  color: black;
  font-weight: 400;
  cursor: pointer;
}

#promo-button-get:hover {
  border-width: 2px;
}

.menu-wraper-moov {
  right: 0px;
}

.menu-wraper-promo-moov {
  right: 0px;
}

.icon-user-menu > div > div {
  background-color: blue;
}

#menu-btn-box-main {
  width: 35px;
  height: 29px;
  display: block;
  -webkit-transition: 1s all;
  transition: 1s all;
  position: relative;
  cursor: pointer;
}

#menu-btn {
  width: 35px;
  height: 3px;
  display: block;
  position: absolute;
  top: 13px;
  right: 0px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

#menu-btn-top {
  width: 35px;
  height: 3px;
  position: absolute;
  top: 0px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

#menu-btn-bot {
  width: 35px;
  height: 3px;
  position: absolute;
  top: 26px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

.menu-btn-open {
  opacity: 0;
}

.menu-btn-bot-open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px !important;
  background-color: red !important;
}

.menu-btn-top-open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px !important;
  background-color: red !important;
}

#menu-btn-box-main:hover div {
  background-color: red;
}

@media (max-width: 570px) {
  .fox-words-text {
    font-size: 14px;
  }
  .hiden-menu-user, .hiden-menu-user-promo {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu-wraper, .menu-wraper-promo {
    top: 50%;
  }
  .wrapper {
    margin: 0 auto;
  }
  .user-menu-reg, .user-menu-auth {
    display: none;
  }
  .menu-start {
    display: none;
  }
  .menu-proect {
    display: none;
  }
  .footer-block-inside1 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;
    width: 60%;
  }
  .footer-block-inside2 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
    width: 40%;
  }
  .fox-words {
    width: 80px;
    height: 40px;
    margin: 5px;
  }
}

@media (max-width: 400px) {
  .footer-block-inside1 {
    width: 70%;
  }
  .footer-block-inside2 {
    width: 30%;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-transition: 0s all;
  transition: 0s all;
  opacity: 1;
  visibility: visible;
}

.start-preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fffed4;
  z-index: 1000;
  -webkit-transition: 0s all;
  transition: 0s all;
  opacity: 1;
  visibility: visible;
}

.load_end {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: 1s spinner infinite linear;
          animation: 1s spinner infinite linear;
  background: url(../images/icon/logo.svg) center no-repeat;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.repo-images {
  position: fixed;
  top: -3000px;
  opacity: 0;
}
/*# sourceMappingURL=global.css.map */